header {
    margin: 5px 0;
    margin-left: 10%;
}
h1 a {
    text-decoration: none;
    color: #000000;
}

.area1 {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10%;
}
.area2 {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10%;
}

