
{% extends 'base.html' %}

{% block content %}
<h1>温度グラフ</h1>
<form action="api/data" method="get">
    {% csrf_token %}
    <label>日付：<input type="date" size="20" name="date" id="today"></label>
    <input type="submit" value="送信">
</form>

<div class="chartArea">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
//グラフの描画関数
function setChart(){
    var ctx = document.getElementById("myChart").getContext('2d');
        window.myChart = new Chart(ctx, {
            type:"line",
            data: {
                labels: labels,
                datasets: [{
                    label: title,
                    data: defaultData,
                    borderColor: "rgba(255,0,0,1)",
                    backgroundColor: "rgba(0,0,0,0)",
            }]
            },
            options: {
                animation:false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
}    

//グラフのデータ処理
var endpoint = 'api/data'
var defaultData = []
var labels = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.temp
        title = data.title
        //console.log(labels)
        setChart()
        console.log(data)

    },
    error: function(error_data){
        console.log("error")
    }
})

//フォームのボタン処理
$("form").submit( function(event) {
    event.preventDefault();
    var form = $(this);
    $.ajax({
        url: form.prop("action"),
        method: form.prop("method"),
        data: form.serialize(),
        timeout: 10000,
        
    })
    .done( function(data) {
        if (myChart) {
    　　　　myChart.destroy();
  　　　　}
        labels = data.labels
        defaultData = data.temp
        title = data.title
        setChart()
        console.log(data)
    })
});

//日付の初期値設定
var date = new Date();

var yyyy = date.getFullYear();
var mm = ("0"+(date.getMonth()+1)).slice(-2);
var dd = ("0"+date.getDate()).slice(-2);

document.getElementById("today").value=yyyy+'-'+mm+'-'+dd;
console.log(yyyy+'-'+mm+'-'+dd)

</script>

{% endblock %}
