{% extends 'base.html' %}

{% block content %}
<div class="chartArea">
    <canvas id="myChart" width="400" height="400"></canvas>
    <canvas id="myChart2" width="400" height="400"></canvas>
</div>

<script>
var data = {red: '赤', green: '緑', blue: '青'};

var data2 = {};

data2.red = [1,2,3,4];
data2.blue = [{red: '赤', green: '緑', blue: '青'}];

console.log(data2);

var chartConfig = function(type="line", labels, yData, realtime=false) {
    var config = {};
    //グラフの種類 
    config.type = type;

    if (!realtime) {
    //--------リアルタイムではない場合----------//
    config.data =  {
                        labels: labels,
                        datasets: [{
                            label: 'title',
                            data: yData,
                            borderColor: "rgba(255,0,0,1)",
                            backgroundColor: "rgba(0,0,0,0)",
                        }]
                    };
    config.options ={
                        animation:false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    };
    }else{
    //--------リアルタイムの場合----------//
    config.data = {
        datasets: [{data: []}]
    };
    config.options = {
                        scales: {
                        xAxes: [{
                            delay: 2000,
                            maxTicksLimit: 60,
                            autoSkip: false,
                            type: 'realtime',
                            realtime: {
                                duration: 60000,
                                onRefresh: function(chart) {
                                chart.data.datasets.forEach(function(dataset) {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: get_data(),
                                    });
                                });
                                }

                            }
                        }],
                        yAxes: [{
                                ticks: {
                                suggestedMax: 40,
                                suggestedMin: 20,
                                stepSize: 2,
                                }
                            }]
                        }
                    };

    };
    return config
}

var chartData ={
                type:"line",
                data: {
                    labels: "labels",
                    datasets: [{
                        label: 'title',
                        data: "yData",
                        borderColor: "rgba(255,0,0,1)",
                        backgroundColor: "rgba(0,0,0,0)",
                    }]
                },
                options: {
                    animation:false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            }
//リアルタイムのオプション追加
chartData.options.xAxes =[{
                            delay: 2000,
                            maxTicksLimit: 60,
                            autoSkip: false,
                            type: 'realtime',
                            realtime: {
                                duration: 60000,
                                onRefresh: function(chart) {
                                chart.data.datasets.forEach(function(dataset) {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: get_data(),
                                    });
                                });
                                }

                            }
                        }]


console.log(chartConfig(realtime=true))

</script>

{% endblock %}